body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 69px;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo{
  height: 50px;
}

nav ul {
  list-style: none;
  text-align: right;
  padding: 10px 10px;
}

nav ul li {
  display: inline;
  padding: 15px 15px;
}

a {
  color: seashell;
}


.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
}

.mission-statement {
  background-color: black;
  color: seashell;
}

.featured-teas {
  display: flex;
  width: 1000px;
  padding-left: 100px;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.teas div {
  padding: 10px 10px;
}

.individual-teas {
  width: 300px;
  height: 200px;
}
