body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 69px;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo{
  height: 50px;
  margin-left: 10px;
}

nav ul {
  list-style: none;
  text-align: right;
  padding: 10px 10px;
}

nav ul li {
  display: inline;
  padding: 15px 15px;
}

a {
  color: seashell;
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  margin-left: 25px;
}

.mission-statement {
  background-color: black;
  color: seashell;
}

.featured-teas {
  display: flex;
  width: 1000px;
  padding-left: 100px;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.teas div {
  padding: 10px 10px;
}

.individual-teas {
  width: 300px;
  height: 200px;
}

.locations {
  width: 1200px;
  height: 500px;
  text-align: center;
  background-image: url("../images/img-locations-background.jpg");
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 25px;
}

.diff-locations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diff-locations div {
  width: 250px;
  height: 250px;
  opacity: 1;
  margin: 20px 20px;
  background-color: black;
}

.footer div {
  height: 200px;
}

h6 {
  text-align: left;
  margin-left: 20px;
}
